{% comment%} modified function structure and speed - am {% endcomment%}
<script>
  window.addEventListener('load', function() {
    if (typeof $ == 'function') {
      var maxHeight = -1;

      $('.custom-testimonial-item').each(function() {
      maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
      });

      $('.custom-testimonial-item').each(function() {
      $(this).height(maxHeight);
      });
        
      var maxHeight = -1;

      $('.custom-container').each(function() {
      maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
      });

      $('.custom-container').each(function() {
      $(this).height(maxHeight);
      });
    }
  });
        
</script>

{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
  CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --prev-next-button-background: var(--text-color);
    --prev-next-button-color: var(--section-background);

    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
</style>

<section class="section {% unless blends_with_background %}section--flush{% endunless %}">
  <div class="section__color-wrapper {% unless blends_with_background %}vertical-breather{% endunless %}">
    <header class="section__header container text-container">
      {%- if section.settings.subheading != blank -%}
        <h2 class="heading heading--small">{{ section.settings.subheading | escape }}</h2>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <h3 class="heading h2">{{ section.settings.title | escape }}</h3>
      {%- endif -%}
    </header>

    {%- comment -%}
    If we have more than 3 blocks we assume that by default the content may be scrollable. This may not be the case and
    the JavaScript will fired up to remove it in case it is needed, but if it is indeed scrollable this will avoid
    a reflow of the browser rendering engine. From our tests 3 is a sane default.
    {%- endcomment -%}
    <gallery-list class="gallery">
      <scrollable-content {% unless section.settings.show_arrows %}draggable{% endunless %} class="gallery__list-wrapper {% if section.blocks.size >= 3 %}is-scrollable{% endif %} hide-scrollbar">
        <div class="container">
          <div class="gallery__list">
            {%- for block in section.blocks -%}
              <gallery-item class="gallery__item" {{ block.shopify_attributes }}>
                <figure class="gallery__figure">

                  <div class="custom-testimonial-item">
                        <div class="custom-testimonial-item-heading-container">
                          <h3 class="custom-testimonial-item-heading"> {{ block.settings.heading }} </h3>                     
                        </div>
                    <div class="custom-container">
                        <div class="custom-testimonial-item-text-container">
                          <p class="custom-testimonial-item-text"> {{ block.settings.text }} </p>                     
                        </div>
                      <div class="custom-testimonial-item-bottom-row">
                          <div class="custom-testimonial-item-author-container">
                            <p class="custom-testimonial-item-author"> {{ block.settings.author }} </p>
                          </div>
                          <div class="custom-testimonial-item-image-container">
                            <img class="custom-testimonial-item-image" src="{{ block.settings.image | img_url }}">
                          </div>
                      </div>
                    </div>
                    </div>
                  
                  
                </figure>
              </gallery-item>
            {%- endfor -%}
          </div>
        </div>
      </scrollable-content>

      {%- if section.blocks.size > 1 and section.settings.show_arrows -%}
        <prev-next-buttons class="gallery__prev-next-buttons prev-next-buttons">
          <button class="gallery__arrow prev-next-button prev-next-button--prev">
            <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
            {%- include 'icon' with 'nav-arrow-left', direction_aware: true -%}
          </button>

          <button class="gallery__arrow prev-next-button prev-next-button--next">
            <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
            {%- include 'icon' with 'nav-arrow-right', direction_aware: true -%}
          </button>
        </prev-next-buttons>
      {% endif %}

      <div class="gallery__progress-bar-wrapper container">
        <span class="gallery__progress-bar progress-bar" style="--divider: {{ section.blocks.size }}"></span>
      </div>
    </gallery-list>
  </div>
</section>

{% schema %}
{
  "name": "Testimonials - Custom",
  "class": "shopify-section--gallery",
  "blocks": [
    {
      "type": "text",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Thumbnail"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Gallery"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show navigation arrows",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Color",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "Testimonials - Custom",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ],
      "settings": {}
    }
  ]
}
{% endschema %}